.processing h1 {
    font-weight: 400;
    margin-bottom: 2.4rem !important;
}

.processing {
    text-align: center;
}

#link-input-locked {
    width: 300px;
    padding: 1rem 1.4rem;
    border-radius: 2rem;
    border: none;
    background-color: #EDEDED;
    letter-spacing: 0.6px;
    color: #626262;
    transition: 0.4s;
}

.spinner {
    margin-top: 4rem;
}